body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
}

header {
    color: #000000;
    font-size: 40px;
    text-align: center;
    -webkit-text-stroke: 1px #D6D6D6;
    text-stroke: 20px;
}

main {
    text-align: center;
}

.img {
    width: 30%;
    height: 50%;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 1px #f6b204;
}

.subTitle {
    color: #000000;
    font-size: 30px;
    -webkit-text-stroke: 1px #D6D6D6;
    text-stroke: 5px;
}

.ipt-mensagens {
    border: 2px solid #f6b204;
    border-radius: 3px;
    background: #000000;
    font-size: 20px;
    color: #D6D6D6;
}

.ipt-numero {
    border: 2px solid #f6b204;
    border-radius: 3px;
    width: 5%;
    background: #000000;
    font-size: 20px;
    color: #D6D6D6;
}

.resposta {
    color: #D6D6D6;
}

.button {
    padding: 10px;
    border: 2px solid #f6b204;
    border-radius: 8px;
    margin-top: 20px;
    background: transparent;
    color: #f6b204;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    background: #D6D6D6;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.button:hover::before {
    width: 100%
}

footer {
    text-align: end;
}